[submodule "models/unit"]
	path = models/unit
	url = https://github.com/mingyuliutw/UNIT
[submodule "models/munit"]
	path = models/munit
	url = https://github.com/NVlabs/MUNIT
[submodule "models/pspnet"]
	path = models/pspnet
	url = https://github.com/hszhao/semseg
